<div class="mx-auto mt-6 max-w-screen-xl px-4 pb-16" id="contact">
  <div
    class="relative overflow-hidden rounded-2xl bg-indigo-500 px-12 py-20 shadow-xl max-sm:px-6 max-sm:py-10"
  >
    <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
      <svg
        class="absolute inset-0 h-full w-full"
        preserveAspectRatio="xMidYMid slice"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 1463 360"
        loading="lazy"
      >
        <path
          class="text-indigo-600 text-opacity-40"
          fill="currentColor"
          d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z"
        />
        <path
          class="text-indigo-600 text-opacity-40"
          fill="currentColor"
          d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z"
        />
      </svg>
    </div>
    <div class="relative">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
          Interesse? Schreib Uns!
        </h2>
      </div>
      <div class="mt-12 flex justify-center sm:mx-auto sm:flex ">
        <a
          href="mailto:hello@raydak.de"
          class="rounded-md border-transparent bg-gray-900 px-10 py-3.5 text-base font-medium text-white shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-500"
        >
          <i class="fa fa-envelope"></i> hello@raydak.de
        </a>
      </div>
    </div>
  </div>
</div>
